USE [Alver]
GO
/****** Object:  StoredProcedure [dbo].[BillSlip]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BillSlip]
	@BillId int
AS
BEGIN
	SET NOCOUNT ON;

SELECT
	  BL.[Id]
      ,BL.[BillId]
      ,BL.[ItemId]
	  ,(SELECT TEMP.ItemName FROM Item TEMP WHERE TEMP.Id = BL.[ItemId]) AS ItemName
      ,BL.[UnitId]
	  ,(SELECT TEMP.Title FROM Unit TEMP WHERE TEMP.Id = BL.[UnitId]) AS UnitName
      ,BL.[Quantity]
      ,BL.[CurrencyId]
	  ,(SELECT TEMP.CurrencyName FROM Currency TEMP WHERE TEMP.Id = BL.[CurrencyId]) AS CurrencyName
      ,BL.[Price]
      ,BL.[TotalPrice]
	  ,[Exchanged]
      ,[Rate]
      ,[ForeginCurrencyId]
	  ,(SELECT TEMP.CurrencyName FROM Currency TEMP WHERE TEMP.Id = BL.[ForeginCurrencyId]) AS ForeginCurrencyName
      ,[ExchangedAmount]
	  ,(SELECT (Rate*TotalPrice)) AS ExchangedTotalAmount
	  ,(SELECT COUNT(BLL.Id) From BillLines BLL WHERE BLL.BillId=@BillId) AS LinesCount

  FROM [dbo].[BillLines] BL
  WHERE BL.BillId = @BillId

END
GO
/****** Object:  StoredProcedure [dbo].[CreateClientFunds]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROC [dbo].[CreateClientFunds]
@ClientId int
AS
BEGIN
DECLARE @CurrId INT, @CurrName NVARCHAR(30), @CurrSymbol NVARCHAR(3)

DECLARE @MessageOutput VARCHAR(100)

DECLARE Currency_Cursor CURSOR FOR 
    SELECT curr.Id ,curr.CurrencyName,curr.CurrencySymbol  FROM Currency curr order by curr.Id


OPEN Currency_Cursor 

FETCH NEXT FROM Currency_Cursor INTO
    @CurrId, @CurrName, @CurrSymbol

WHILE @@FETCH_STATUS = 0
BEGIN
    INSERT INTO [dbo].[AccountFund]
           ([AccountId]
           ,[FundTitle]
           ,[CurrencyId]
           ,[Balance]
		   ,BalanceDirection
		   ,Hidden
		   ,Flag
		   ,[GUID]
           ,[Declaration]
           ,[LUD]
		   ,UserId)
     VALUES
           (
			@ClientId,
			CONCAT(@CurrName,'-',@CurrSymbol),
			@CurrId,
			0,
			N'لنا',
			0,
			'',
			(SELECT NEWID()),
			'',
			GETDATE()
			,1
		   );

    RAISERROR(@MessageOutput,0,1) WITH NOWAIT

    FETCH NEXT FROM Currency_Cursor INTO
    @CurrId, @CurrName, @CurrSymbol
END
CLOSE Currency_Cursor
DEALLOCATE Currency_Cursor
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAllData]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteAllData]
AS
BEGIN
	----DELETE TRANSACTIONS
	DELETE FROM [dbo].[Transaction]
	DBCC CHECKIDENT ( '[dbo].[Transaction]', RESEED, 0 )
	DELETE FROM [dbo].FundTransaction
	DBCC CHECKIDENT ( '[dbo].[FundTransaction]', RESEED, 0 )
	DELETE FROM [dbo].ItemTransaction
	DBCC CHECKIDENT ( '[dbo].[ItemTransaction]', RESEED, 0 )

	----DELETE TABLES DATA
	DELETE FROM [dbo].Item
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Item]', RESEED, 0 )
	DELETE FROM [dbo].ItemCategory
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[ItemCategory]', RESEED, 0 )
	DELETE FROM [dbo].[ItemFund]
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[ItemFund]', RESEED, 0 )
	DELETE FROM [dbo].AccountFund
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[AccountFund]', RESEED, 0 )
	DELETE FROM [dbo].Account
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Account]', RESEED, 0 )
	DELETE FROM [dbo].AccountGroup
	WHERE  PROTECTED=0
	DBCC CHECKIDENT ( '[dbo].[AccountGroup]', RESEED, 0 )
	DELETE FROM [dbo].Bill
	WHERE  PROTECTED=0
	DBCC CHECKIDENT ( '[dbo].[Bill]', RESEED, 0 )
	DELETE FROM [dbo].BillLines
	WHERE PROTECTED=0
	DBCC CHECKIDENT ( '[dbo].[BillLines]', RESEED, 0 )
	DELETE FROM [dbo].Currency
	WHERE PROTECTED = 0 AND PROTECTED=0
	DBCC CHECKIDENT ( '[dbo].[Currency]', RESEED, 0 )
	DELETE FROM [dbo].CurrencyExchange
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[CurrencyExchange]', RESEED, 0 )
	DELETE FROM [dbo].CurrencyExchangeOperations
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[CurrencyExchangeOperations]', RESEED, 0 )
	DELETE FROM [dbo].Exchange
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[Exchange]', RESEED, 0 )
	DELETE FROM [dbo].ExchangeFund
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[ExchangeFund]', RESEED, 0 )
	DELETE FROM [dbo].Unit
	WHERE PROTECTED = 0 OR PROTECTED IS NULL
	DBCC CHECKIDENT ( '[dbo].[Unit]', RESEED, 0 )
	DELETE FROM [dbo].CurrencyBulletin
	DBCC CHECKIDENT ( '[dbo].[CurrencyBulletin]', RESEED, 0 )
	DELETE FROM [dbo].Fund
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Fund]', RESEED, 0 )
	
	
	DELETE FROM [dbo].Expense
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Expense]', RESEED, 0 )
	DELETE FROM [dbo].ExpenseCategory
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[ExpenseCategory]', RESEED, 0 )
	DELETE FROM [dbo].Payment
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Payment]', RESEED, 0 )
	DELETE FROM [dbo].Unit
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Unit]', RESEED, 0 )
	DELETE FROM [dbo].Role
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Role]', RESEED, 0 )
	DELETE FROM [dbo].Withdraw
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Withdraw]', RESEED, 0 )
	DELETE FROM [dbo].Transfer
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[Transfer]', RESEED, 0 )
	DELETE FROM [dbo].[User]
	WHERE PROTECTED = 0
	DBCC CHECKIDENT ( '[dbo].[User]', RESEED, 0 )
END
GO
/****** Object:  StoredProcedure [dbo].[ItemAvgPurchasePrice]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ItemAvgPurchasePrice]
@ItemId int,
@unitId int

AS
BEGIN

	SELECT 
	BL.CurrencyId AS 'رقم العملة الاساس',
	(SELECT CURR.CurrencyName FROM Currency CURR WHERE CURR.Id=BL.CurrencyId) AS 'العملة الاساس',
	BL.ForeginCurrencyId AS 'رقم العملة الطرف',
	(SELECT CURR.CurrencyName FROM Currency CURR WHERE CURR.Id=BL.ForeginCurrencyId) AS 'العملة الطرف',
	SUM(BL.TotalPrice)/SUM(BL.Quantity) AS 'السعر بالعملة الاساس',
	SUM(BL.ExchangedTotalAmount)/SUM(BL.Quantity) AS 'السعر بالعملة الطرف'
	FROM BillLines BL
	WHERE	BL.BillId IN (SELECT B.Id FROM Bill B WHERE B.BillType LIKE 'شراء')
			AND BL.ItemId=@ItemId
			AND BL.UnitId=@unitId
	GROUP BY BL.CurrencyId,BL.ForeginCurrencyId

END
GO
/****** Object:  StoredProcedure [dbo].[ItemAvgSalePrice]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ItemAvgSalePrice]
@ItemId int,
@unitId int

AS
BEGIN

	SELECT 
	BL.CurrencyId AS 'رقم العملة الاساس',
	(SELECT CURR.CurrencyName FROM Currency CURR WHERE CURR.Id=BL.CurrencyId) AS 'العملة الاساس',
	BL.ForeginCurrencyId AS 'رقم العملة الطرف',
	(SELECT CURR.CurrencyName FROM Currency CURR WHERE CURR.Id=BL.ForeginCurrencyId) AS 'العملة الطرف',
	SUM(BL.TotalPrice)/SUM(BL.Quantity) AS 'السعر بالعملة الاساس',
	SUM(BL.ExchangedTotalAmount)/SUM(BL.Quantity) AS 'السعر بالعملة الطرف'
	FROM BillLines BL
	WHERE	BL.BillId IN (SELECT B.Id FROM Bill B WHERE B.BillType LIKE 'بيع')
			AND BL.ItemId=@ItemId
			AND BL.UnitId=@unitId
	GROUP BY BL.CurrencyId,BL.ForeginCurrencyId

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ClientGrand]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_ClientGrand]
@ClientId int
as
begin
	--CONCAT((select ai.Fullname from Accounts_Info ai Where ai.Id=@ClientId),' ',ov.Currency,'-',(SELECT curr.CurrencySymbol from Currencies curr WHERE curr.Id=ov.CurrencyId)) AS الصندوق,
	DECLARE @OverallResults AS TABLE
	(
		Fund nvarchar(50), 
		Currency nvarchar(50),
		CurrencyId int,
		Amount Money
	);
	------------------------------------------------------------------------------------------

	INSERT INTO @OverallResults (Fund, CurrencyId,Currency,Amount)
	(
	select		
		fund.FundTitle 'الصندوق',
		fund.CurrencyId 'رقم العملة',
		(select cr.CurrencyName from Currency cr where cr.Id= fund.CurrencyId) 'العملة',
		(
			select SUM(trans.Amount)
			from [Transaction] trans
			Where trans.AccountId=@ClientId 
			AND trans.CurrencyId=fund.CurrencyId
		)
	from AccountFund fund
	where fund.AccountId=@ClientId
	)
	------------------------------------------------------------------------------------------

	DECLARE @Midium AS TABLE
	(
		Fund nvarchar(50), 
		Currency nvarchar(50),
		CurrencyId int,
		Amount Money,
		Origin nvarchar(3)
	);
	------------------------------------------------------------------------------------------
	INSERT INTO @Midium
	SELECT
	ov.Fund ,
	ov.Currency ,
	ov.CurrencyId ,
	(
	ISNULL((
		SUM(ov.Amount) --+ (select af.Balance from Accounts_Fund af Where af.AccountId = @ClientId AND af.CurrencyId = ov.CurrencyId)
		),0)
	) ,
	N''
	From @OverallResults ov
	group by ov.Fund , 
	ov.CurrencyId  ,
	ov.Currency 
	------------------------------------------------------------------------------------------
	Update @Midium
	SET Origin = N'لكم'
	Where Amount <0
	Update @Midium
	SET Origin = N'لنا'
	Where Amount >=0

	SELECT
		Fund AS 'الصندوق', 
		Currency AS 'العملة',
		CurrencyId AS 'رقم العملة',
		ABS(Amount) AS 'الإجمالي',
		Origin AS 'لنا/لكم'
	From @Midium
	order by CurrencyId
end

GO
/****** Object:  StoredProcedure [dbo].[SP_ClientsGrand]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_ClientsGrand]
as
begin
	DECLARE @OverallResults AS TABLE
	(
		Fund nvarchar(50), 
		Currency nvarchar(50),
		CurrencyId int,
		Profits Money,
		Amount Money
	);
	select		
		fund.FundTitle 'الصندوق',
		fund.CurrencyId 'رقم العملة',
		(select cr.CurrencyName from currency cr where cr.Id= fund.CurrencyId) 'العملة',
		(
			(
			select 
			ISNULL((
					SELECT SUM(trans.Amount) 				
					FROM [Transaction] TRANS
					WHERE TRANS.CurrencyId=FUND.CurrencyId					
					),0)
			)
			
		) AS 'الإجمالي'
	from Fund fund
end

GO
/****** Object:  StoredProcedure [dbo].[SP_FundsGrand]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FundsGrand]
WITH EXECUTE AS CALLER
AS
begin
select		
	fund.FundTitle 'الصندوق',
	fund.CurrencyId 'رقم العملة',
	(select cr.CurrencyName from Currency cr where cr.Id= fund.CurrencyId) 'العملة',
	(
		--fund.Balance
		--+
		(	select 
			ISNULL((
					SELECT SUM(trans.Amount) 				
					FROM FundTransaction TRANS
					WHERE TRANS.CurrencyId=FUND.CurrencyId					
					),0)
		)		
	 )as الإجمالي
From Fund fund

end


GO
/****** Object:  StoredProcedure [dbo].[SP_FundsMovements]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FundsMovements]
WITH EXECUTE AS CALLER
AS
begin


DECLARE @OverallResults AS TABLE
(
    Fund nvarchar(50), 
    Currency nvarchar(50),
	CurrencyId int,
	Profits Money,
    Amount Money,
	Flag nvarchar(50) 
);
INSERT INTO @OverallResults (Fund, CurrencyId,Currency,Amount)
EXEC SP_ClientsGrand;
Update @OverallResults
Set Flag=N'العملاء'
INSERT INTO @OverallResults (Fund,CurrencyId, Currency,Amount)
EXEC SP_FundsGrand;
Update @OverallResults
Set Flag=N'المكتب'
Where Flag IS NULL;

INSERT INTO @OverallResults (Fund,CurrencyId, Currency,Amount,Flag)
SELECT	A.Fund AS الصندوق, 
		A.CurrencyId AS 'رقم العملة',
		A.Currency AS العملة,
		SUM(A.Amount)
		AS الإجمالي,
		N'العام'
FROM @OverallResults A
GROUP BY A.Fund,A.Currency,A.CurrencyId;

DECLARE @FundsMove AS TABLE
(
	Id int Primary Key Identity(1,1),
    Fund nvarchar(50), 
    [دولار امريكي] Money,
	[ليرة سورية] Money,
	[ليرة تركية] Money,
	[يورو] Money,
	[ريال سعودي] Money
);
--Set IDENTITY_INSERT @FundsMove ON;

Insert into @FundsMove(Fund,[دولار امريكي],[ليرة سورية],[ليرة تركية],[يورو],[ريال سعودي])
SELECT *
FROM
(
    SELECT Currency,Amount,Flag AS الصندوق
    FROM @OverallResults A
) AS SourceTable 

PIVOT(SUM(Amount) FOR Currency IN(	[دولار امريكي],
									[ليرة سورية],
									[ليرة تركية],
									[يورو],
									[ريال سعودي])) AS PivotTable;

Select * from @FundsMove

end
GO
/****** Object:  StoredProcedure [dbo].[SP_ItemGrand]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_ItemGrand]
@ItemId int
as
begin
	--CONCAT((select ai.Fullname from Accounts_Info ai Where ai.Id=@ClientId),' ',ov.Currency,'-',(SELECT curr.CurrencySymbol from Currencies curr WHERE curr.Id=ov.CurrencyId)) AS الصندوق,
	DECLARE @OverallResults AS TABLE
	(
		Fund nvarchar(50), 
		Unit nvarchar(50),
		UnitId int,
		Amount Money
	);
	------------------------------------------------------------------------------------------

	INSERT INTO @OverallResults (Fund, UnitId,Unit,Amount)
	(
	select		
		fund.FundTitle 'الصندوق',
		fund.UnitId 'رقم الواحدة',
		(select u.Title from Unit u where u.Id= fund.UnitId) 'الواحدة',
		(
			select SUM(trans.Amount)
			from [ItemTransaction] trans
			Where trans.ItemId=@ItemId 
			AND trans.UnitId=fund.UnitId
		)
	from ItemFund fund
	where fund.ItemId=@itemId
	)
	------------------------------------------------------------------------------------------

	DECLARE @Midium AS TABLE
	(
		Fund nvarchar(50), 
		Unit nvarchar(50),
		UnitId int,
		Amount Money,
		Origin nvarchar(3)
	);
	------------------------------------------------------------------------------------------
	INSERT INTO @Midium
	SELECT
	ov.Fund ,
	ov.Unit ,
	ov.UnitId ,
	(
	ISNULL((
		SUM(ov.Amount) --+ (select af.Balance from Accounts_Fund af Where af.AccountId = @ClientId AND af.CurrencyId = ov.CurrencyId)
		),0)
	) ,
	N''
	From @OverallResults ov
	group by ov.Fund , 
	ov.UnitId  ,
	ov.Unit 
	------------------------------------------------------------------------------------------
	Update @Midium
	SET Origin = N'لكم'
	Where Amount <0
	Update @Midium
	SET Origin = N'لنا'
	Where Amount >=0

	SELECT
		Fund AS 'الصندوق', 
		Unit AS 'الواحدة',
		UnitId AS 'رقم الواحدة',
		ABS(Amount) AS 'الإجمالي',
		Origin AS 'لنا/لكم'
	From @Midium
	order by UnitId
end

GO
/****** Object:  StoredProcedure [dbo].[SP_ItemsGrand]    Script Date: 2/28/2020 12:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SP_ItemsGrand]
as
begin
	DECLARE @OverallResults AS TABLE
	(
		Fund nvarchar(50), 
		Unit nvarchar(50),
		UnitId int,
		Profits Money,
		Amount Money
	);
	select		
		fund.FundTitle 'الصندوق',
		fund.UnitId 'رقم الواحدة',
		(select cr.Title from Unit cr where cr.Id= fund.UnitId) 'الواحدة',
		(
			(
			select 
			ISNULL((
					SELECT SUM(trans.Amount) 				
					FROM [ItemTransaction] TRANS
					WHERE TRANS.UnitId=FUND.UnitId					
					),0)
			)
			
		) AS 'الإجمالي'
	from ItemFund fund
end

GO
